@import url("https://fonts.googleapis.com/css2?family=Acme&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #121212;
  --color-secondary: #f9f9f9;
  --font-fira-sans: "Fira Sans", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --font-acme: "Acme", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --breakpoint-xs: 25.625rem;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-primary text-secondary font-fira-sans;
  }
}
