<section class="mt-20 font-nunito text-xl" id="about">
    <div class="flex justify-center items-center gap-5 max-lg:flex-col">
      <img src="/spiral.svg" alt="Spiral" width={512} height={512} />
      <div class="basis-1/2 space-y-5 mx-auto max-lg:max-w-xl px-5">
        <p class="text-5xl">
          <span class="text-xl mr-5">I'm</span>
          <span class="font-bold">Omar Mohamed</span>
        </p>
        <p>
          Software engineer mainly focused on front-end development in the
          mean time.
        </p>
        <p>
          My knowledge spans multiple areas like Mobile Apps, Machine
          Learning, Deep Learning and finally Front-end.
        </p>
        <p>
          My tech stack? primarily React but usually I don't like to have a
          predefined tools for all the problems.
        </p>
      </div>
    </div>
  </section>
