<section class=" max-w-[70%] mx-auto">
    <h1 class="text-9xl max-xl:text-8xl max-md:text-7xl max-sm:text-5xl flex flex-col">
      <span class="flex max-xl:flex-col-reverse">
        <span class="self-end mr-auto">Front-end</span>
        <img
          src="/peep-54.svg"
          alt="Logo"
          width={240}
          height={324}
          class="mx-auto logo-img"
        />
      </span>
      <span class="ml-auto">Developer</span>
    </h1>
  </section>
