---
import { SEO } from "astro-seo";
const href = Astro.url.href
const ogImg = `${href}peep-54.svg` 
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <SEO
    title="Omar Mohamed - Front-end Developer"
    description="Omar Mohamed, Software engineer mainly focused on front-end development in the mean time."
    canonical={href}
    openGraph={{
      basic: {
        title: "Omar Mohamed - Front-end Developer",
        type: "website",
        image: ogImg,
        url:href,
      }
    }}
    extend={{
      link: [{ rel: "icon", href: "/peep-54.svg" }],
    }}
  />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  </head>
  <body>
    <slot></slot>
  </body>
</html>
